
        <footer class="l-footer">
          <ul class="nav">
            <li><a href="#none">View on Github</a></li>
            <li><a href="#none">Get Hammer Template</a></li>
          </ul>
        </footer>
      </div>
    </div>
    
    <div class="overlay" id="overlay">
      <div class="modal">
        <header class="modal-header">
          <h2>Modal</h2>
        </header>
        
        <div class="modal-body">
          <h3>Colophon</h3>
          
          <p>I've included a lot of <a href="https://github.com/kachunchau/scss-boilerplate">abstrast classes</a> that I regularly use for my daily web projects. Instead of including jQuery I'm using Zepto because I've realised most of the time I'm just adding toggling classes. Did I say it's a Hammer template as well. I've included some basic styling to allow you to extend it yourself.</p>
          
          <p>I've included a lot of <a href="https://github.com/kachunchau/scss-boilerplate">abstrast classes</a> that I regularly use for my daily web projects. Instead of including jQuery I'm using Zepto because I've realised most of the time I'm just adding toggling classes. Did I say it's a Hammer template as well. I've included some basic styling to allow you to extend it yourself.</p>
        </div>
        
        <footer class="modal-footer">
          <a class="btn btn--small modal-close" href="#none">Close</a>
        </footer>
      </div>
    </div>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
    <script>window.Zepto || document.write('<script src="javascript/vendor/zepto.min.js"><\/script>')</script>
    <script src="javascript/plugins.js"></script>
    <script src="javascript/main.js"></script>
  </body>
</html>