      <div class="overlay" id="overlay">
        <div class="overlay-center">
          <div class="overlay-modal">
            <a href="#none">x</a>
            
            <h3>Colophon</h3>
            
            <p>I've included a lot of <a href="https://github.com/kachunchau/scss-boilerplate">abstrast classes</a> that I regularly use for my daily web projects. Instead of including jQuery I'm using Zepto because I've realised most of the time I'm just adding toggling classes. Did I say it's a Hammer template as well. I've included some basic styling to allow you to extend it yourself.</p>
            
            <h4>Features</h4>
            
            <ul>
              * Uses 'normalize.css' by [Nicolas Gallagher](https://github.com/necolas)
              * Uses Zepto instead of jQuery
              * SMACSS folder layout
              * Added module abstracts
              * Px to em and px to rem mixin
              * Media object by [Nicole Sullivan](http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/)
              * Flag object by [Harry Roberts](http://csswizardry.com/2013/05/the-flag-object/)
            </ul>
          </div>
        </div>
      </div>
      
      <footer class="l-footer">
        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </footer>
    </div>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
    <script>window.Zepto || document.write('<script src="javascript/vendor/zepto.min.js"><\/script>')</script>
    <script src="javascript/plugins.js"></script>
    <script src="javascript/main.js"></script>
  </body>
</html>