    <nav class="l-header">
      <div class="l-constrained">
        <ul class="nav nav--center nav--primary">
          <li><a href="#typography">Typography</a></li>
          <li><a href="#navigation">Navigation</a></li>
          <li><a href="#table">Table</a></li>
          <li><a href="#form">Form</a></li>
          <li><a href="#css">CSS</a></li>
          <li><a class="reveal" href="#overlay">i</a></li>
        </ul>
      </div>
    </nav>
    
    <div class="hero">
      <div class="l-constrained">
        <div class="tagline">
          <h1 class="giga">Barebones</h1>
          <p class="lead">Barebones is a light CSS framework that uses a SMACSS approach.</p>
        </div>
        
        <ul class="l-inline cta">
          <li><a class="btn btn--big" href="#none">View on Github</a></li>
          <li><a class="btn btn--big" href="#none">Get Hammer Template</a></li>
        </ul>
      </div>
    </div>