    <nav class="l-header">
      <div class="l-constrained">
        <ul class="nav nav--justify">
          <li><a href="<!-- @path navigation.html -->">Navigation</a></li>
          <li><a href="<!-- @path typography.html -->">Typography</a></li>
          <li><a href="<!-- @path media.html -->">Media</a></li>
          <li><a href="#none">Flag</a></li>
          <li><a href="<!-- @path form.html -->">Form</a></li>
          <li><a href="#none">Modules</a></li>
        </ul>
      </div>
    </nav>
    
    <div class="hero">
      <div class="tagline">
        <h1 class="giga"><a href="/">Barebones</a></h1>
        <p class="lead">Barebones is a light CSS framework that uses a SMACSS approach.</p>
      </div>

      <ul class="nav nav--cta">
        <li><a class="btn btn--big" href="#none">View on Github</a></li>
        <li><a class="btn btn--big" href="#none">Get Hammer Template</a></li>
      </ul>
    </div>