    <nav class="l-header">
      <div class="l-constrained">
        <ul class="nav nav--control">
          <li><a class="menu-link" href="#menu">Menu</a></li>
          <li><a href="#">Close</a></li>
        </ul>
        
        <ul class="nav nav--center nav--primary nav--mobile" id="menu">
          <li><a href="#about">About</a></li>
          <li><a href="#typography">Typography</a></li>
          <li><a href="#navigation">Navigation</a></li>
          <li><a href="#table">Table</a></li>
          <li><a href="#form">Form</a></li>
          <li><a href="#module">Module</a></li>
          <li><a href="#button">Button</a></li>
          <li><a href="#overlay">Modal</a></li>
        </ul>
      </div>
    </nav>
    
    <div class="l-constrained">
      <div class="hero">
        <div class="tagline">
          <h1 class="giga">Barebones</h1>
          <p class="lead">Barebones is a light CSS framework that uses a SMACSS approach.</p>
        </div>
        
        <ul class="l-inline cta">
          <li><a class="btn" href="#none">View on Github</a></li>
          <li><a class="btn" href="#none">Get Hammer Template</a></li>
        </ul>
      </div>
    </div>