.btn {
  @extend %all-caps;
  
  @include font-size(16);
  
  border: 1px solid #ccc;
  border-radius: 2px;
  letter-spacing: .1em;
  // @todo temp margin
  // margin-right: 1em;
  padding: .5em 1em;
}