.cta {
  outline: 1px solid red;
  
  > li {
    margin-bottom: 1em;
    // margin-right: .5em;
    // margin-left: .5em;
  }
  
  @include respond-to(small) {
    margin-right: .5em;
    margin-bottom: 0;
    margin-left: .5em;
  }
}