.flag {
  display: table;
  width: 100%;
}

.flag-pull-right,
.flag-pull-left,
.flag-body {
  display: table-cell;
  vertical-align: middle;
}

.flag-pull-left {
  padding-right: em(20);
}

.flag-pull-right {
  padding-left: em(20);
  text-align: right;
  
  img {
    float: right; /* This is the only way to float it to the right for now */
  }
}