.hero {
  // border-bottom: 1px solid $primary-color;
  // outline: 1px solid red;
  // margin-bottom: em(160);
  padding-top: em(160);
  padding-bottom: em(160);
  text-align: center;
  
  .giga,
  .mega {
    margin-bottom: .14em;
  }
}