.hero {
  // outline: 1px solid red;
  padding-top: em(70 + 70);
  padding-bottom: em(80);
  text-align: center;
  
  .giga,
  .mega {
    margin-bottom: .2em;
  }
  
  @include respond-to(small) {
    padding-top: em(130 + 106);
    padding-bottom: em(160);
  }
}