.hero {
  padding-top: em(80);
  padding-bottom: em(80);
  text-align: center;
  
  .giga,
  .mega {
    font-weight: 700;
    margin-bottom: .1em;
    
    @include respond-to(small) {
      margin-bottom: .2em;
    }
  }
  
  @include respond-to(small) {
    padding-top: em(140 + 90);
    padding-bottom: em(140);
  }
}