.modal {
  $height: 348;
  $width: 90%;
  
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 40px rgba(#000, .5);
  height: rem($height);
  margin-top: -#{em($height / 2)};
  margin-left: -#{$width / 2};
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: -webkit-transform .25s ease-in-out .5s, opacity .25s ease-out .5s;
          transition: transform .25s ease-in-out .5s, opacity .25s ease-out .5s;
  -webkit-transform: scale(.75);
          transform: scale(.75);
  width: $width;
  
  @include respond-to(small) {
    $height: 491;
    $width: 800;
    
    height: rem($height);
    margin-top: -#{rem($height / 2)};
    margin-left: -#{rem($width / 2)};
    max-width: rem($width);
  }
}

.modal-header,
.modal-footer {
  padding: rem(12) rem(18);
  
  @include respond-to(small) {
    padding: rem(18) rem(32);
  }
}

.modal-header {
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 2px rgba(#000, .03);
}

.modal-title {
  margin: 0;
}

.modal-body {
  height: rem(200);
  overflow-y: auto;
  padding: rem(12) rem(18);
  
  @include respond-to(small) {
    height: rem(300);
    padding: rem(18) rem(32);
  }
}

.modal-footer {
  border-top: 1px solid $primary-color;
  box-shadow: 0 -1px 2px rgba(#000, .03);
}