.modal {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(#000, .5);
  margin-top: -#{em(100)};
  margin-left: -45%;
  // max-width: em(90);
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: transform .25s ease-out .25s;
          transition: transform .25s ease-out .25s;
  -webkit-transform: scale(.6);
          transform: scale(.6);
  width: 90%;
  
  @include respond-to(small) {
    margin-top: -#{em(195)};
    margin-left: -#{em(400)};
    max-width: em(800);
  }
}

.modal-header,
.modal-footer {
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-left: 2em;
  
  h2 {
    margin: 0;
  }
}

.modal-header {
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 2px rgba(#000, .05);
}

.modal-body {
  height: em(200);
  overflow-y: auto;
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-left: 2em;
}

.modal-footer {
  border-top: 1px solid $primary-color;
  box-shadow: 0 -1px 2px rgba(#000, .05);
}