.nav {
  // @extend %all-caps;
  @extend %no-bullets;

  > li {
    display: inline-block;
  }
  
  a {
    // border-radius: 3px;
    display: inline-block;
    padding-right: .5em;
    padding-left: .5em;
    &:hover {
      // color: #fff;
      text-decoration: underline;
    }
  }
  
  .current {
    // font-style: italic;
    // text-decoration: underline;
  }
}

.nav--primary {
  margin-bottom: 0;
  text-align: justify;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}