.nav {
  // @extend %all-caps;
  @extend %no-bullets;

  > li {
    display: inline-block;
  }
  
  a {
    // border-radius: 3px;
    display: inline-block;
    &:hover {
      // color: #fff;
      text-decoration: underline;
    }
  }
  
  .reveal {
    padding-right: 0;
    padding-left: 0;
  }
}

.nav--cta {
  > li {
    margin-right: .5em;
    margin-left: .5em;
  }
}

.nav--primary {
  margin-bottom: 0;
  text-align: justify;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.nav--inline {
  a {
    margin-right: 1em;
  }
}

.nav--stacked {
  > li {
    display: block;
  }
  
  a {
    display: block;
  }
}