.nav {
  @extend %no-bullets;

  > li {
    display: inline-block;
  }
  
  a {
    display: inline-block;
  }
  
  .current {
    font-style: italic;
  }
}

.nav--cta {
  margin-bottom: 0;
  
  a {
    margin-right: .8em;
    margin-left: .8em;
  }
}

.nav--justify {
  text-align: justify;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.nav--primary {

}
