.overlay {
  background-color: rgba(#000, .8);
  height: 100%;
  // outline: 1px solid red;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  z-index: 2;
  &:target {
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-fill-mode: both;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    
    .modal {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
}