.section {
  &:last-of-type {
    margin-bottom: 0;
  }
}

.section--main {
  margin-bottom: em(63);
  // outline: 1px solid red;
}

.section--sub {
  margin-bottom: em(30);
  // outline: 1px solid red;
}