@import 'normalize';

/* Fonts
   ========================================================================== */

html, button, input, select, textarea {
  color: #333;
  font-family: $serif;
  text-rendering: optimizeLegibility;
}

// http://modularscale.com/scale/?px1=18&px2=700&ra1=1.618&ra2=0
.giga {
  @include font-size(59 );
  
  
  line-height: 1.2;

  @include respond-to(small) {
    @include font-size(76);
  }
}
.mega {
  @include font-size(59);
}
h1,
.alpha {
  @include font-size(36);
}
h2,
.beta {
  @include font-size(30);
}
h3,
.gamma {
  @include font-size(24);
}
h4,
.delta {
  @include font-size(18);
}
h5,
.epsilon {

}
h6,
.zeta {

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
    
  margin-top: 0;
}

p,
ul,
ol,
dl {
  @include respond-to(small) {
    @include font-size(18);
  }
}

p,
ul,
ol,
dl {
  margin: 0 0 1em;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.lead {
  @include font-size(22);

  font-style: italic;
}

/* Defaults
   ========================================================================== */

body {
  font-size: 1em;
  line-height: 1.6;
}

::-moz-selection {
  @include selection();
}

::selection {
  @include selection();
}

figure {
  margin-bottom: em(18);
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

blockquote {
  border-left: 1px solid $primary-color;
  font-style: italic;
  margin: 0 0 em(20, 16);
  padding-left: em(20, 16);
  
  p {
    @include font-size(22);
  }
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all .25s ease;
          transition: all .25s ease;
}

::-webkit-input-placeholder {
   color: #ccc;
}

::-moz-placeholder {
   color: #ccc;
}

/* Forms
   ========================================================================== */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  line-height: 1.6;
  resize: vertical;
}

label {
  cursor: pointer;
}

input[type=text],
input[type=search],
input[type=email],
input[type=url],
textarea {
  @include font-size(20);
  
  border: 1px solid $primary-color;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ccc;
  outline: none;
  padding: .75em;
  -webkit-transition: all .25s ease;
          transition: all .25s ease;
  width: 100%;
  &:focus {
    border-color: darken($primary-color, 50%);
    color: inherit;
  }
}