@import 'normalize';

/* Fonts
   ========================================================================== */

html, button, input, select, textarea {
  color: #333;
  font-family: Lora, serif;
}

// http://modularscale.com/scale/?px1=20&px2=700&ra1=1.618&ra2=0
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.giga {
  @include font-size(84);
}
.mega {
  @include font-size(63);
}
h1,
.alpha {
  @include font-size(52);
  
  margin: 0;
}
h2,
.beta {
  @include font-size(39);
}
h3,
.gamma {

}
h4,
.delta {

}
h5,
.epsilon {

}
h6,
.zeta {

}

p {
  @include font-size(20);
}

/* Defaults
   ========================================================================== */

body {
  font-size: 1em;
  line-height: 1.5;
}

::-moz-selection {
  @include selection();
}

::selection {
  @include selection();
}

img {
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Forms
   ========================================================================== */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}