.l-stacked,
.l-inline,
.l-grid {
  @extend %no-bullets;
}

.l-inline {
  > li {
    display: inline-block;
  }
}

.l-grid {
  @extend %clearfix;
  
  > li {
    float: left;
  }
}

.l-header {
  background-color: #fff;
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 2px rgba(#000, .05);
  padding-top: 1.1em;
  padding-bottom: .2em;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  
  @include respond-to(small) {
    padding-top: 1.8em;
    padding-bottom: .2em;
  }
}

.l-footer {
  padding-bottom: em(60, 16);
}

.l-constrained {
  margin-right: auto;
  margin-left: auto;
  max-width: rem(800);
  // outline: 1px solid red;
  padding-right: em(18);
  padding-left: em(18);
}

.l-row {
  margin-bottom: em(72);
  
  @include respond-to(small) {
    margin-bottom: em(88);
  }
}