.l-stacked,
.l-grid {
  @extend %no-bullets;
}

.l-header {
  border-bottom: 1px solid #ccc;
  padding-top: 2em;
  padding-bottom: .5em;
  text-align: center;
}

.l-constrained {
  margin-right: auto;
  margin-left: auto;
  max-width: rem(660);
  padding-right: 1em;
  padding-left: 1em;
}