.l-stacked,
.l-grid {
  @extend %no-bullets;
}

.l-header {
  padding-top: em(138);
  padding-bottom: em(138);
  text-align: center;
  
  .giga {
    margin-bottom: .5em;
  }
}

.l-constrained {
  margin-right: auto;
  margin-left: auto;
  max-width: rem(700);
}